{{ define "main" }}
{{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName
" ") "")) }}
{{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

{{ $PostCate := .File.Path | replaceRE ".*posts/(.*)/.*" "$1"}}
<div class="post {{ $PostCate }}">
  {{ partial "breadcrumb.html" . }}
  {{ if eq $PostCate "chat"}}
  {{ .Render "chat"}}
  <div class="post-content">
    <a href="{{ .Permalink }}" target="_blank" rel="link"><img loading="lazy" decoding="async" class="post-avatar avatar"
        src="/avatars/my_avatar.webp"></a>
    {{ .Content }}
  </div>
  {{ else }}
  <h2 class="post-title"><a href="{{ .Permalink }}" target="_blank">{{ .Title | markdownify }}</a></h2>
  <div class="post-meta">
    {{ if .Date | default nil }}
    <span class="post-date">{{ .Date.Format ($.Site.Params.DateFormatSingle | default "2006-01-02") }}</span>
    {{ if .Site.Params.twikoo.enable -}}
    <span> / <span id="twikoo_visitors">0</span> 阅读</span>
    {{- end }}
    {{ if eq .Type $contentTypeName }}
    {{ if $.Site.Params.LastModDisplay }}
    {{ partial "lastmod.html" . }}
    {{ end }}
    {{ end }}
    {{ with .Params.location }}
    <span class="post-location"> 发布于: {{ . }}</span>
    {{ end }}
    {{ end }}
  </div>
  {{ if .Params.feature}}
  {{ if .Params.UseRelativeCover }}
  <img loading='lazy' decoding="async" src="{{ (printf " %s%s" .Permalink .Params.feature ) }}" class="post-cover" />
  {{ else }}
  <img loading='lazy' decoding="async" src="{{ .Params.feature | absURL }}" class="post-cover" />
  {{ end }}
  {{ end }}

  <hr>
  <div class="post-content">
    {{ if .Params.toc }}{{ .TableOfContents }}{{ end }}
    {{ .Content }}
    <div class="post-footer">
      <p>作者：这里填写你的名字，请在 single.html 中编辑</p>
      <p>链接：<a href="{{ .Permalink }}" target="_blank">{{ .Permalink }}</a></p>
      <p>版权声明：本文版权归作者所有，采取CC BY-NC-SA 4.0 协议进行共享。</p>
    </div>
    {{ .Render "path"}}
  </div>

  {{ if .Params.tags }}
  <span class="post-tags">
    {{ range .Params.tags }}
    #<a href="{{ (urlize (printf " tags/%s" . )) | absURL }}/">{{ . }}</a>&nbsp;
    {{ end }}
  </span>
  {{ end }}
  {{ end }}

  {{ if not (eq .Params.Comments "false") }}
  {{ partial "comments.html" . }}
  {{ end }}

</div>
{{ end }}