{{ define "main" }}
<h2><a href="{{ .Permalink }}" target="_blank" rel="link">{{.Title}}</a></h2>
<div id="tcomment"></div>
<script src="/twikoo.js"></script>
<script>
  twikoo.init({
    envId: '<请你在此处填写你的 twikoo 域名>', el: '#tcomment',
    onCommentLoaded: function () {
      console.log('评论加载完成');
      setTimeout(function() {
        let tk_icon = document.getElementsByClassName("tk-icon")[1];
        tk_icon ? tk_icon.click() : undefined;
       },500)
    }
  })
  setTimeout(function() {changeFavicon()},100)
  function changeFavicon() { 
    var link = document.head.querySelector("link[rel='shortcut icon']");
    link.href = "/twikoo.webp"
  };
</script>
<style>
  .tk-admin {position: fixed !important;z-index: 999;}
  .tk-content p{text-align: left;}
</style>
{{ end }}


{{ define "footer" }}
<script type="text/javascript" src="/theme-main-1.js"></script>
<script>
//随机日志
function randomPost() {
  fetch('/sitemap.xml').then(res => res.text()).then(str => (new window.DOMParser()).parseFromString(str, "text/xml")).then(data => {
      let ls = data.querySelectorAll('url loc');
      let locationHref,locSplit;
      do {
          locationHref = ls[Math.floor(Math.random() * ls.length)].innerHTML
          locSplit = locationHref.split('/')[3] || ''
      } while (locSplit != 'posts'); 
      location.href = locationHref
  })
}
</script>
{{ end }}